.HeadImage {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 2px solid black; 
    
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.logo {
    white-space: nowrap; /* Prevent the logo from wrapping */
  }