.app-container {
  display: flex;
  flex-direction: column;
}

.comp-container {
  border: 2px solid black;
  width: 1200px;
  max-width: 95%; /* Limit the maximum width to ensure visibility on smaller screens */
  height: 700px;
  position: fixed; /* Make the container fixed */
  top: 50%; /* Position it at the vertical center */
  left: 50%; /* Position it at the horizontal center */
  transform: translate(-50%, -50%);
  overflow: auto; /* Add overflow auto to enable scrolling if content overflows */
}

.ThreatInfo-container {
    margin-left: 10px;
    margin-top: 10px;
    border-right: 2px solid black;
}

.ThreatResponse-container {
    margin-left: 1%;
}